// @import '../abstracts/constants';

.key{
    @include flex($direction:column);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: #f4f4f2;
    background-color: $key-bgcolor;
    border-radius: $key-border-radius;
    box-shadow: $key-shadow;
    cursor: pointer;
    @include key-hover();
    transition: order 0.5s, justify-content 0.5s;

    &__additional{
        padding-left: 4px;
        @include flex($align:center, $j_content:flex-start);
    }

    &__main{
        @include flex($align:center, $j_content:center);
        font-weight: 700;
        height: 100%;
    }

    .main{        
        @include flex($align:center, $j_content:center);
        font-weight: 700;
        order:2;
    }

    .additional{
        @include flex($align:center, $j_content:flex-start);
        padding-left: 4px;
        order:-1;
    }
}


.key-arrow,
.key-optional{
    height: 40px;
    @include flex($j_content: center, $align:center);
    background-color: #1c1c1c;
    color: #ffffff;
    text-align: center; 
    border-radius: $key-border-radius;  
    box-shadow: $key-shadow; 
    cursor: pointer;
    @include key-hover();
}

.key-space{
    height: $key-height;
    width: 314px;
    background-color: grey;
    border-radius: $key-border-radius;
    box-shadow: $key-shadow;
    cursor: pointer;
    @include key-hover();
}

.key-XX{
    width: 100px;
}

.key-XL{
    width: 84px;
}

.key-L{
    width: 60px;
}

.key-M{
    width: 52px;
}

.key-S{
    width: 40px;
}

.key-push{
    @include key-push();
    &:hover{
        position: static;
        animation: none;
    }
}

@keyframes key-hover {
    from {top: 0px;}
    to {top: -2px;}
}

.capitalize{
    text-transform: capitalize;
}
