html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    @include flex($j_content:center, $align: flex-end);
    height: 100vh;
    background-image: url(../pexels-aaron-ulsh-2882660.jpg);
    background-size: cover;
}

*{
    box-sizing: border-box;
}